#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsbDBUBsdX6vqSYVgOpZhuy0-YC11pu2dasw&usqp=CAU'");

}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
